<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Mi Bliblioteca</a>
        <ul>
            <li class="header-link"><a href="/authors">Authors</a></li>
            <li class="header-link"><a href="/authors/new">Agregar Authors</a></li>
            <li class="header-link"><a href="/books">Libros</a></li>
            <li class="header-link"><a href="/books/new">Agregar libros</a></li>
        </ul>
    </nav>
</header>