<!-- Es la estructura del formulario del desarrollador -->
<div class="form-row">
    <div class="form-item">
      <label>Nombre</label>
      <input type="text" name="name" value="<%= developer.name %>">
    </div>
  </div>