/* Define los estilos de cada uno de los botones.*/
:root {
    --color-azul_200: #0C0F24;
    --color-azul_100: #212867;
    --color-verde_100: #04B5A3;
    --color-rosa_100: #FFA082;
    --color-rojo_100: #CF1518;
    --color-rojo_200: #690015;
    --color-blanco: #ffffff;
    --color-negro: #000000;
  }
  
  /* Clase general de los botones.*/
  .btn {
    border: 2px solid var(--color-verde_100);
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Define en que posición se encontran los botones.*/
  .btn-row {
    display: flex;
    align-items: flex-start;
  }
  
  /* Proporciona un margen.*/
  .btn-row > * {
    margin-left: 10px;
  }
  
  /* Proporciona un margen.*/
  .btn-row > *:first-child {
    margin-left: 0;
  }
  
  /* Los botones primarios tendran un color verde.*/
  .btn-primary {
    color: var(--color-blanco);
    background-color: var(--color-verde_100);
    opacity: .8;
    transition: all .5s ease;
  }
  /* Al estar encima de un boton primario cambiara.*/
  .btn-primary:hover {
    opacity: 1;
  }
   /* Los botones primarios tendran un color rojo.*/
  .btn-danger {
    border: 2px solid var(--color-rojo_100);
    color: var(--color-blanco);
    background-color: var(--color-rojo_100);
    opacity: .8;
    transition: all .5s ease;
  }
  /* Al estar encima de un boton secundario cambiara.*/
  .btn-danger:hover {
    opacity: 1;
  }

  /* El botón de buscar ocupara todo el espacio en ancho.*/
  .btn-buscar{
    width: 100%;
  }
  /* El botón de editar ocupara todo el espacio en ancho.*/
  .btn-editar{
    width: 100%;
  }