:root {
      --color-azul_200: #0C0F24;
      --color-azul_100: #212867;
      --color-verde_100: #04B5A3;
      --color-rojo_100: #CF1518;
      --color-rojo_200: #690015;
      --color-blanco: #ffffff;
      --color-negro: #000000;
  }